#theEnd, #main-container, #summit, #counter, #theEnd {
  display: none;
}
.header, button{
  text-align: center;
  width: 80%;
  margin: 0 auto;
 

}
#main-container{
  width: 80%;
  margin: 0 auto;
  
  
}
#theEnd, button{
  width: 80%;
  margin: 0 auto;
  
}